p, label {
  font-Size: 18px;
  font-family: "Open Sans", Sans-Serif; }

h1, h2, h3, h4, h5 {
  font-family: "Work Sans", Sans-Serif; }

h1 {
  font-Size: 50px;
  margin-bottom: 0; }

h4 {
  margin-top: 10px; }

a {
  text-decoration: none; }

input[type="text"] {
  border: 1px solid black; }

.wrapper {
  padding: 0 20px; }

button, input[type="submit"], .nav-links a {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background: white;
  color: rgba(0, 0, 0, 0.6);
  padding: 8px 13px;
  margin: 10px 0;
  transition: all 0.3s;
  font-size: 14px; }
  button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus, .nav-links a:hover, .nav-links a:focus {
    background: rgba(0, 0, 0, 0.6);
    color: white; }

.drive-viewer.drive-viewer-embed .drive-viewer-shadow {
  background: white !important; }

.drive-viewer-v3 .drive-viewer-shadow {
  background: white !important; }

.drive-viewer-shadow {
  background: white !important; }

.drive-viewer {
  background: white !important; }

.top {
  border-bottom: 12px solid white;
  width: calc(100% - 12px);
  margin-bottom: -12px;
  position: relative;
  left: 0;
  z-index: 9999; }

.bottom {
  border-top: 13px solid white;
  width: calc(100% - 12px);
  margin-top: -16px;
  position: relative;
  z-index: 9999; }

.side {
  border: 9px solid white;
  width: 0;
  height: 463px;
  top: 0;
  position: absolute;
  z-index: 9999; }

.iframe-wrapper {
  max-width: 580px;
  position: relative;
  margin: 20px auto; }

iframe {
  border-width: 0 !important;
  border-style: inset;
  border-color: initial;
  border-image: initial; }

iframe body .drive-viewer.drive-viewer-embed .drive-viewer-shadow {
  background-color: white !important; }

.drive-viewer-v3 .drive-viewer-shadow {
  background-color: white !important; }

body .drive-viewer.drive-viewer-embed .drive-viewer-shadow.drive-viewer-default {
  background-color: white !important; }

nav {
  position: fixed;
  top: 0;
  left: 20px;
  height: 80px; }

.nav-links {
  position: fixed;
  top: 0;
  right: 20px;
  height: 80px; }
  .nav-links a {
    margin-right: 10px; }

.logo {
  background: black;
  color: white;
  font-family: "Work Sans", Sans-Serif;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
  .logo p {
    margin: 0;
    font-family: "Work Sans", Sans-Serif;
    line-height: 12px; }

main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; }

.image img {
  width: 100%; }

.filters {
  width: 45%; }
